<!-- This partial takes in either an effect or a failure mode and returns the card in the collaboration mode for it. -->
<!-- The syntax to call this partial is: -->
<!-- render "fmeas/collab_fmea", element: effect  -->
<div class="card-collab">
  <div class="colored-stripe-<%= element.class.name.downcase %>" id="card-form"></div>

    <form action="#" class="card-collab-form">
      <!-- Here comes the basic description of the cause/effect -->
      <textarea form="card-form" class="card-collab-description" style="overflow: auto;"><%= element.description %></textarea>
      <!--  Here come the right-hand-side actions -->
      <div class="card-collab-actions">
        <div class="custom-control custom-checkbox">
          <label class="checkbox-label">
            <input type="checkbox" class="card-collab-checkbox" id="customCheck1" value="<%= element.confirmed %>">
            <span class="card-collab-custom-checkbox"><i class="fas fa-check"></i></span>
          </label>
        </div>
       <!--  <div class="card-collab-number-dropdown-<%= rating_color(element) %>"> -->
          <% if element.class.to_s.downcase == "effect" %>
              <select name="severity" id="">
                <% (1..rating_scale(element)).to_a.each do |n| %>
                  <option value="<%= n %>"><%= n %></option>
                <% end %>
              </select>
            <% end %>
            <% if element.class.to_s.downcase == "cause" %>
              <select name="occurence" id="" class="card-collab-select-<%= rating_color(element) %>">
                <% (1..rating_scale(element)).to_a.each do |n| %>
                  <option value="<%= n %>"><%= n %></option>
                <% end %>
              </select>
            <% end %>
        <!-- </div> -->
      </div>
    </form>
</div>

