<%= form_for(element, options = { html: { data: { target: "collaboration.fakeForm" },
name: "cause", class: "fake-form"  } , method: "post", remote: true })  do |f| %>
  <div style="display: none;">
    <input type="hidden" value="true" id="live" name="live">
    <%= f.text_area :description, value: "" %>
    <%= f.check_box :confirmed, value: 0 %>
    <% if element.class.name.downcase == "cause" %>
      <%= f.number_field :occurrence,  value: 1 %>
    <% elsif element.class.name.downcase == "effect"  %>
      <%= f.number_field :severity, value: 1 %>
    <% end %>
    <%= f.number_field :failure_mode_id, value: failure_mode.id, :input_html => { :data => {:target => "collaboration.fakeFormFailureModeInput"} } %>
  </div>
  <div class="fake-form-left">
    <%= f.submit "Add a new cause", class: "fake-form-submit" %>
  </div>
  <div class="fake-form-right">
    <div class="fake-circle"></div>
    <div class="fake-box"></div>
  </div>
<% end %>
