<div class="modal fade" id=<%= "add#{element.class.name}"%>>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h3 class="modal-title">Add a <%= element.class.name %></h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <%= simple_form_for element do |f| %>
          <%= f.input :description, as: :text, :input_html => { placeholder: placeholder_text(element, belong) } %>
          <%# hidden form field to communicate to controller what the parent fmea is %>
          <%= f.input "#{belong.class.name.downcase}_id", as: :hidden, :input_html => { value: belong.id, :data => {:target => "edit-fmea.#{element.class.to_s.downcase}"} } %>

<!--
<div class="form-group hidden function_fmea_id">
<input class="form-control hidden" value="21" data-target="edit-fmea.function" type="hidden" name="function[fmea_id]" id="function_fmea_id">
</div>
<div class="form-group hidden failure_mode_function_id">
<input class="form-control hidden" value="58" data-target="edit-fmea.failuremode" type="hidden" name="failure_mode[function_id]" id="failure_mode_function_id">
</div>
<div class="form-group hidden failure_mode_function_id">
<input class="form-control hidden" value="{parent_id}" data-target="edit-fmea.failuremode" type="hidden" name="undefined" id="failure_mode_function_id">
</div>
-->

          <div class="btn btn-success">
            <%= f.button :submit, remote: true, class: "btn-clean", data: {dismiss: :dismiss} %>
          </div>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <% end %>
      </div>

    </div>
  </div>
</div>
