<%= puts "fm is here" %>
<%= puts index %>
<div class="one-failure-mode">
  <div class="one-failure-mode-left">
  <div class="fm-left"></div>
  <div class="fm-right">
    <div class="fm-element">
      <%= render "fmeas/edit_fmea/card_structure", element: failure_mode, index: index %>
    </div>
    <div class="causes-structure">
      <div class="cause-left"></div>
      <div class="cause-right">
        <% failure_mode.causes.each do |cause| %>
          <div class="one-cause">
            <% index += 1 %>
            <%= render "fmeas/edit_fmea/card_structure", element: cause, index: index %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  </div>

  <% unless failure_mode.effects.count == 0 %>
    <div class="one-failure-mode-right">
      <div class="effects-top"></div>
      <div class="effects-bottom">
        <div class="effects-bottom-left">
          <div class="effects-bottom-left-top"></div>
          <div class="effects-bottom-left-bottom"></div>
        </div>
        <div class="effects-bottom-right">
          <% counter = 0 %>
          <% failure_mode.effects.each do |effect| %>
            <% counter += 1 %>
            <% if counter > 1 %>
              <div style="height: 10px;"></div>
            <% end %>
            <%= render "fmeas/edit_fmea/card_content", element: effect %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
