<div class="fmea-header" data-controller="product-header" data-action="scroll@window->product-header#scroll" data-target="product-header.header">
  <div class="fmea-product-image" data-target="product-header.productImage">
    <% if product_images?(fmea) %>
      <%= render "fmeas/edit_fmea/product_image_carousel", fmea: fmea %>
    <% else %>
      <i class="fas fa-file-upload"></i>
    <% end  %>
  </div>
  <div class="fmea-details">
    <div class="fmea-details-edit">
      <a data-toggle="modal" data-target="#editFmeaDetails" href="#"><i class="fas fa-pen"></i></a>
    </div>
    <h2><span class="light-blue"><%= fmea_type_icon(fmea) %></span> <%= fmea.title %></h2>
    <p><small><span class="light-blue"><i class="fas fa-th"></i></span>  <%= fmea.risk_matrix.name %></small></p>
    <p><%= simple_format(fmea.description) %></p>
  </div>
  <div class="fmea-stats">
    <div class="fmea-stat">
      <%= image_tag("function.svg", class: "pr-1") %>
      <span class="stat-number"><%= fmea.functions.count %></span>
    </div>
    <div class="fmea-stat">
      <%= image_tag("failure_mode.svg", class: "pr-1") %>
      <%= fmea.failure_modes.count %>
    </div>
    <div class="fmea-stat">
      <%= image_tag("cause.svg", class: "pr-1") %>
      <%= fmea.causes.count %>
    </div>
    <div class="fmea-stat">
      <%= image_tag("effect.svg", class: "pr-1") %>
      <%= fmea.effects.count %>
    </div>
  </div>
</div>

<!-- The Edit FMEA Modal -->
<%= render "fmeas/edit_fmea/edit_fmea_modal", fmea: fmea %>

<!-- Render Image Zoom Modal if product has images -->
<% if product_images?(fmea) %>
  <% fmea.images.each_with_index do |image, img_num| %>
    <%= render "fmeas/edit_fmea/image_modal", fmea: fmea, img_num: img_num %>
  <% end %>
<% end  %>