<div class="row position-relative" style="z-index: 0;">
  <%= link_to "", edit_fmea_path(fmea), class: "stretched-link" %>
  <div class="col-1">
    <div class="fmea-circle bg-<%= "#{%w(danger warning info success primary).sample}"  %>"></div>
  </div>

  <div class="col-2 my-auto">
    <h6><%= fmea.title %></h6>
  </div>

  <div class="col-2 my-auto">
    <h6><%= fmea.risk_matrix.name %></h6>
  </div>

  <div class="col-2 my-auto">
    <h6><%= fmea.updated_at.day %>/<%= fmea.updated_at.month %>/<%= fmea.updated_at.year %></h6>
  </div>

  <div class="col-3 my-auto">
    <h6> <%= image_tag("function.svg") %>  <%= "#{fmea.functions.count}  " %> &#160;
      <%= image_tag("failure_mode.svg") %>
      <%= "#{fmea.failure_modes.count}" %> &#160;
      <%= image_tag("cause.svg") %>
      <%= "#{fmea.causes.count}  " %> &#160;
      <%= image_tag("effect.svg") %>
      <%=  "#{fmea.effects.count}" %>
    </h6>
  </div>

  <div class="col-2 my-auto" style="z-index: 1;">
    <div class="buttons">
    <%= button_to("#", method: :get, class: "btn-clean") do %>
      <i class='fas fa-share-alt icon'></i>
    <% end %>
    <%= button_to("#", method: :get, class: "btn-clean") do %>
      <i class="fas fa-cloud-download-alt icon"></i>
    <% end %>
    <%= button_to(fmea_path(fmea), method: :delete, class: "btn-clean") do %>
      <i class="fas fa-trash icon"></i>
    <% end %>
    </div>
  </div>
</div>


