<div class="row position-relative" style="z-index: 0;">
  <%= link_to "", edit_fmea_path(fmea), class: "stretched-link" %>
  <div class="col-1">
  <% if product_images?(fmea) %>
    <img class="fmea-circle border border-<%= "#{%w(danger warning info success primary).sample}" %>" src="<%= cl_image_path(fmea.images[0].key, width: 100, height: 100, crop: :fill) %>">
  <% else %>
    <div class="fmea-circle bg-<%= "#{%w(danger warning info success primary).sample}" %>"></div>
  <% end %>
  </div>

  <div class="col-2 my-auto">
    <h6><%= fmea.title %></h6>
  </div>

  <div class="col-2 my-auto">
    <h6><%= fmea.risk_matrix.name %></h6>
  </div>

  <div class="col-2 my-auto">
    <h6><%= fmea.updated_at.day %>/<%= fmea.updated_at.month %>/<%= fmea.updated_at.year %></h6>
  </div>

  <div class="col-3 my-auto">
    <div class="fmea-stats-dashboard">
      <div class="fmea-stat-dashboard">
        <%= image_tag("statistic_icons/function.svg", class: "pr-1") %>
        <span class="stat-number"><%= fmea.functions.count %></span>
      </div>
      <div class="fmea-stat-dashboard">
        <%= image_tag("statistic_icons/failure_mode.svg", class: "pr-1") %>
        <%= fmea.failure_modes.count %>
      </div>
      <div class="fmea-stat-dashboard">
        <%= image_tag("statistic_icons/cause.svg", class: "pr-1") %>
        <%= fmea.causes.count %>
      </div>
      <div class="fmea-stat-dashboard">
        <%= image_tag("statistic_icons/effect.svg", class: "pr-1") %>
        <%= fmea.effects.count %>
      </div>
    </div>
  </div>

  <div class="col-2 my-auto" style="z-index: 1;">
    <div class="buttons-dashboard">
      <div class="button-dashboard">
        <a data-target="clipboard.copybutton" data-action="clipboard#shareFmeaLink" data-fmea-id="<%= fmea.id %>" href="">
          <i class='fas fa-share-alt icon'></i>
        </a>
      </div>
      <div class="button-dashboard">
          <a href="#">
            <i class="fas fa-cloud-download-alt icon"></i>
          </a>
      </div>
      <div class="button-dashboard">
          <%= link_to fmea, method: :delete, data: {confirm: "Are you sure you want to delete the #{fmea.title}–FMEA?"} do %>
            <i class="fas fa-trash icon"></i>
          <% end %>
      </div>
    </div>
  </div>
</div>


