<% content_for :title, "#{@fmea.title} – Collaboration View" %>

<!-- ------------- Collaboration Page -------------- -->

<div id="current-values" class="collaboration-page" data-controller="collaboration" data-collaboration-Fmea="<%= @fmea.id %>" data-collaboration-failureMode="<%= @show_failure_mode.id %>"  data-collaboration-function="<%= @show_function.id %>">
<div class="collaboration-container">
  <!-- Top row containing the function-failure mode selector -->

  <div class="row d-flex justify-content-between
 my-4">
    <%# Back to FMEA button %>
    <div class="back-to-fmea">
      <%= link_to edit_fmea_path(@fmea), class:"btn btn-ghost" do %>
        <i class="fas fa-arrow-left"></i> FMEA
      <% end %>
      <%# Share Link %>
      <div class="btn btn-ghost share-link" data-controller="clipboard" data-action="click->clipboard#shareCollaborationLink">
        <span data-target="clipboard.copybutton" >Copy <i class="fas fa-share-alt"></i></span>
      </div>
      <%# /Share Link %>
    </div>
    <%# /Back to FMEA button %>
    <%# Function-FM Selector %>
    <div class="selector-container">
      <div class="function-selector">
        <div class="chevron left" data-action="click->collaboration#previousFunction">
          <i class="fas fa-chevron-left"></i>
        </div>
        <div class="f-container">
          <!-- render all function cards in fmea as hidden (except first) -->
          <% @fmea.functions.each do |function| %>
            <div class="expand <%= "hidden" unless function == @show_function %>">
              <%= render "fmeas/edit_fmea/card_content", element: function %>
            </div>
          <% end %>
          <!-- / finish failure_mode rendering -->
        </div>
        <div class="chevron right" data-action="click->collaboration#nextFunction">
          <i class="fas fa-chevron-right"></i>
        </div>
      </div>
      <div class="fmf-connector">
      </div>
      <div class="failure-mode-selector">
        <div class="chevron left" data-action="click->collaboration#previousFailureMode">
          <i class="fas fa-chevron-left"></i>
        </div>
        <div class="fm-container">
          <!-- render all failure mode cards in fmea as hidden -->
          <% @fmea.failure_modes.each do |failure_mode| %>
            <div class="expand <%= "hidden" unless failure_mode == @show_failure_mode %>">
              <%= render "fmeas/edit_fmea/card_content", element: failure_mode %>
            </div>
          <% end %>
          <!-- / finish failure_mode rendering -->
        </div>
        <div class="chevron right" data-action="click->collaboration#nextFailureMode">
          <i class="fas fa-chevron-right"></i>
        </div>
      </div>
    </div>
    <%# /Function-FM Selector %>

    <div class="collaboration-top-right">

      <div id="rpn-value" class="">
        <div id="rpn-label">
          <h6 class="RPN-header">RPN</h6>
          <p class="RPN-body">Risk Priority Number</p>
        </div>
        <div id="rpn-score" data-target="collaboration.rpn">
        </div>
      </div>
    </div>

  </div>
  <!-- Second row containing the cause and effect columns -->
  <div id="cause-effect-collaboration" data-fmea-id="<%= @fmea.id %>" class="row d-flex justify-content-center my-5">
    <div class="col bg-white mx-2 rounded-15 p-3 border">
      <div class="cause-effect-title">
        <h2>Causes</h2>
      </div>
      <div class="cause-effect-grid" id="cause-grid" data-cause-grid="">
        <% @fmea.causes.each do |cause| %>
          <div class="cause-card <%= "hidden" unless cause.failure_mode == @show_failure_mode %>">
            <%= render "fmeas/collab_fmea/card_collab", element: cause %>
          </div>
        <% end %>
        <div id="insert-point-cause-grid">
          <% new_cause = Cause.new %>
          <%= render "fmeas/collab_fmea/fake_form", element: new_cause, failure_mode: @show_failure_mode %>
        </div>
      </div>
    </div>
    <div class="col bg-white mx-2 rounded-15 p-3 border">
      <div class="cause-effect-title">
        <h2>Effects</h2>
      </div>
      <div class="cause-effect-grid" id="effect-grid" >
        <% @fmea.effects.each do |effect| %>
          <div class="effect-card <%= "hidden" unless effect.failure_mode == @show_failure_mode %>">
            <%= render "fmeas/collab_fmea/card_collab", element: effect %>
          </div>
        <% end %>
        <div id="insert-point-effect-grid">
          <% new_effect = Effect.new %>
          <%= render "fmeas/collab_fmea/fake_form", element: new_effect, failure_mode: @show_failure_mode %>
        </div>
      </div>
    </div>
  </div>
</div>
