<div class="header-container">
  <div class="header-blue">
    <div class="container">
      <div class="row py-5">
        <div class="col-6">
          <h2>FMEA.Lite is a tool that helps forsee future design problems using collective past experience</h2>
          <% if user_signed_in? %>
            <%= link_to(fmeas_path) do %>
            <button class="btn btn-success">Get Started <svg class="bi bi-chevron-right" width="24" height="24" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"/></svg>
            </button>
            <% end %>
          <% else %>
            <%= link_to(new_user_registration_path) do %>
            <button class="btn btn-success">Get Started <svg class="bi bi-chevron-right" width="24" height="24" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"/></svg>
            </button>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="blue-wave">
    </div>
  </div>
</div>
<div class="container-xl">
  <div class="customer-logos">
    <%= image_tag("landing_page/customer_logo1.svg", class: 'customer-logo-image') %>
    <%= image_tag("landing_page/customer_logo2.svg", class: 'customer-logo-image') %>
    <%= image_tag("landing_page/customer_logo3.svg", class: 'customer-logo-image') %>
    <%= image_tag("landing_page/customer_logo4.svg", class: 'customer-logo-image') %>
  </div>
</div>
<div class="product-overview">
  <div class="container">
    <div class="row my-5">
      <div class="col-6">
        <%= video_tag("landing_page/product_video.mp4", autoplay: :autoplay,loop: :loop,  preload: 'auto', muted: :muted, class: "product-image" ) %>
      </div>
      <div class="col-6">
        <p class="text-success"><strong>Many minds are better than one.</strong></p>
        <h3>Collaborate in the cloud</h3>
        <p>With realtime collaboration, potential failures and causes can be identified quickly and efficiently</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-6">
        <p class="text-success"><strong>Spend less time documenting</strong></p>
        <h3>Automatic report generation</h3>
        <p>Turn your analysis into a downloadable report with the click of a button</p>
      </div>
      <div class="col-6">
        <%= image_tag("landing_page/animated_video_placeholder1.svg", class: 'product-image') %>
      </div>
    </div>
  </div>
</div>
<div class="join-us">
  <div class="container">
    <h3>Join more than 300 customers in delivering reliable design</h3>
    <%= link_to(new_user_registration_path) do %>
      <button class="btn btn-success mt-3">Get Started <svg class="bi bi-chevron-right" width="24" height="24" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"/></svg>
      </button>
    <% end %>
  </div>
</div>
<div class="landing-footer">
  <div class="container">
    <div class="common-links">
      <ul id="landing-common-links">
        <li><a href="">About Us</a></li>
        <li><a href="">Careers</a></li>
        <li><a href="">Terms of Service</a></li>
        <li><a href="">Contact Us</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Pricing</a></li>
      </ul>
    </div>
    <%= image_tag("logo/FMEAlite_logo_with_text.svg", class: 'footer-image') %>
    <p>All rights reserved.</p>
    <p>32, Bjørn Vei, 0256, Oslo</p>
  </div>
</div>
