<% content_for :title, "FMEA.lite" %>

<!-- --------------- Homepage / Landingpage ------------ -->


<div class="header-container">
  <div class="header-blue">
    <div class="container">
      <div class="row py-5">
        <div class="col-12 col-md-6">
          <h2><span style="font-weight:600">FMEA</span><span style="font-weight:300">.lite</span> is a tool that helps foresee future design problems using collective past experience</h2>
          <% if user_signed_in? %>
            <%= link_to(fmeas_path) do %>
            <button class="btn btn-success">Get Started <svg class="bi bi-chevron-right" width="24" height="24" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"/></svg>
            </button>
            <% end %>
          <% else %>
            <%= link_to(new_user_registration_path) do %>
            <button class="btn btn-success">Get Started <svg class="bi bi-chevron-right" width="24" height="24" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"/></svg>
            </button>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="blue-wave">
    </div>
  </div>
</div>
<div class="container-xl">
  <div class="customer-logos">
    <%= image_tag("landing_page/customer_logo1.svg", class: 'customer-logo-image') %>
    <%= image_tag("landing_page/customer_logo2.svg", class: 'customer-logo-image') %>
    <%= image_tag("landing_page/customer_logo3.svg", class: 'customer-logo-image') %>
    <%= image_tag("landing_page/customer_logo4.svg", class: 'customer-logo-image') %>
  </div>
</div>
<div class="product-overview">
  <div class="container">
    <div class="row my-5">
      <div class="col-6">
        <%= video_tag("landing_page/product_video2.mp4", autoplay: :autoplay,loop: :loop,  preload: 'auto', muted: :muted, class: "product-image" ) %>
      </div>
      <div class="col-6">
        <p class="text-success"><strong>Many minds are better than one.</strong></p>
        <h3>Collaborate in the cloud</h3>
        <p>With realtime collaboration, potential failures and causes can be identified quickly and efficiently</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-6">
        <p class="text-success"><strong>Spend less time documenting</strong></p>
        <h3>Automatic report generation</h3>
        <p>Turn your analysis into a downloadable report with the click of a button</p>
      </div>
      <div class="col-6">
        <%= video_tag("landing_page/product_video.mp4", autoplay: :autoplay,loop: :loop,  preload: 'auto', muted: :muted, class: "product-image" ) %>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-6">
      <div class="slide-deck">
        <div class="open-new-tab">
          <a href="https://muzza3000.github.io/fmea_pitch_2/#/" target="_blank" class="stretched-link">
          </a>
        </div>

          <iframe class="slide-container" src="https://muzza3000.github.io/fmea_pitch_2/#/" frameborder="0"></iframe>
      </div>
      </div>
      <div class="col-6">
        <p class="text-success"><strong>Visit our product slidedeck if you want to learn more.</strong></p>
        <h3>Product summary</h3>
        <p>If you want to learn more about our product, please visit our slide deck opposite</p>
      </div>
    </div>
  </div>
</div>
<div class="join-us">
  <div class="container">
    <h3>Join more than 300 customers in delivering reliable design</h3>
    <% if user_signed_in? %>
            <%= link_to(fmeas_path) do %>
            <button class="btn btn-success">Get Started <svg class="bi bi-chevron-right" width="24" height="24" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"/></svg>
            </button>
            <% end %>
          <% else %>
            <%= link_to(new_user_registration_path) do %>
            <button class="btn btn-success">Get Started <svg class="bi bi-chevron-right" width="24" height="24" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"/></svg>
            </button>
            <% end %>
          <% end %>
  </div>
</div>
<div class="landing-footer">
  <div class="container">
    <div class="common-links">
      <ul id="landing-common-links">
        <li><a href="https://en.wikipedia.org/wiki/Failure_mode_and_effects_analysis">About FMEA</a></li>
        <li><a href="/contact">Careers</a></li>
        <li><a href="/contact">Terms of Service</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Pricing</a></li>
      </ul>
    </div>
    <%= image_tag("logo/FMEAlite_logo_with_text.svg", class: 'footer-image') %>
    <p>All rights reserved.</p>
    <p>32, Bjørn Vei, 0256, Oslo</p>
  </div>
</div>
