<div class="container bg-light py-5">
<div class="my-container" style="width:400px">
  <%= render 'fmeas/edit_fmea/card_content', element: Function.last %>
  <br>
  <%= render 'fmeas/edit_fmea/card_content', element: FailureMode.last %>
  <br>
  <%= render 'fmeas/edit_fmea/card_content', element: Cause.last %>
  <br>
  <%= render 'fmeas/edit_fmea/card_content', element: Effect.last %>
  <br>
  <%= render 'fmeas/edit_fmea/card_content', element: Effect.first %>
</div>
</div>
<div style="width:300px; height: 300px">
  <%= render "fmeas/edit_fmea/product_image_carousel", fmea: Fmea.first %>
</div>
