<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/svg" href="<%= image_url('logo/FMEAlite_logo.svg')%>">
     <style>
        .dropdown-toggle::after {
            content: none;
        }
    </style>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class="<%= "landing" if action_name == "home" %>">
    <%= render 'shared/navbar'%>
    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
